# Exploring Weather Trends

## Introduction

## Observation of temperature trend

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
# Create dataframe of Philadelphia and gloavg. temp. and global avg. temp
phillydf = pd.read_sql("""
            SELECT ct.year, ct.avg_temp AS city_avg_temp, gl.avg_temp AS global_avg_temp
            FROM city_data AS ct
            LEFT JOIN global_data AS gl
                ON ct.year = gl.year
            WHERE ct.city = 'Philadelphia'
            ORDER BY ct.year""", con = credentials)
phillydf.head()

   year  city_avg_temp  global_avg_temp
0  1743           6.07              NaN
1  1744          13.74              NaN
2  1745           3.96              NaN
3  1746            NaN              NaN
4  1747            NaN              NaN